<nav class="flex justify-between bb b--white-10">
  <!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/stamp-logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>
  <div class="flex-grow pa3 flex items-center">
    <a class="f6 link dib dim mr3 mr4-ns" href="/post">Posts</a>
	<a class="f6 link dib dim mr3 mr4-ns" href="/values">Values</a>
	<a class="f6 link dib dim mr3 mr4-ns" href="/products">Products</a>
    <a class="f6 link dib dim mr3 mr4-ns" href="/contact">Contact</a>
  </div>
</nav>



